/* main settings */
body {
    background-color: blanchedalmond;
    margin: 0px;
    font-family: serif;
}
header {
    display: flex;
    background-color: rgba(86, 106, 87, 1);
    align-items: center;
    justify-content: space-between
}
/* main recurring classes */
.white {
    background-color: rgb(255, 255, 240);
}
.position {
    display: flex;
    justify-content: center;
}
.sanswhite {
    color: white;
    font-family: sans-serif;
}
/* header */
.myname {
    margin-left: 25px;
}
.contact {
    margin-right: 25px;
}
/* introduction section */
.intro {
    display: flex;
    margin: 30px;
    width: 1200px;
    height: 300px;
    flex-direction: column;
}
.name {
    margin-left: 100px;
    font-style: italic;
    font-size: 50px;
}
.student {
    margin-left: 100px;
    font-size: 32px;
}
/* tools section */
.toolscontainer {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    width: 1200px;
    height: 300px;
}
.tools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: 300px;
}
.skills {
    display: flex;
    width: 500px;
    height: 125px;
    align-items: center;
    justify-content: center;
}
.down {
    justify-content: space-evenly;
}
.tools2 {
    width: 500px;
    height: 300px;
}
.toolstext {
    font-size: 45px;
    font-style: italic;
}
.toolslogo {
    height: 80px;
}
/* projects section */
.projecttitle {
    display: flex;
    background-color: rgb(255, 255, 240);
    width: 1200px;
    height: 100px;
    justify-content: center;
    align-items: center;
}
.project {
    display: flex;
    background-color: rgba(86, 106, 87, 1);
    width: 1200px;
    height: 500px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.projecttext {
    font-size: 45px;
}
.projecticon {
    width: 200px;
}
.projectimg {
    width: 500px;
    height: 300px;
    object-fit: cover;
}
.mastermindimg {
    object-position: left;
}
.bigtext {
    font-size: 25px;
    text-align: center;
}
footer {
    display: flex;
    justify-content: space-around;
    height: 180px;
    align-items: center;
}
.bigfooter {
    font-size: 20px;
}
.footercontent {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}
.directions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.directionlinks {
    margin-bottom: 10px;
}
